

<div class="testimonical-section">

  <div class="container">

    <h1 class="section-header">
      О нас говорят
    </h1>

    <div class="wrap">
      <!-- Set up your HTML -->
      <div class="owl-carousel">

        <div class="testi-item">

          <img src="/assets/testimonical/68@2x.png" alt="" class="testi-img">

          <div class="testi-wrap">
            <h5 class="testi-name">Анастасия Ковальская</h5>
            <p class="testi-address">Краков, Польша</p>

            <p class="testi-review">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <div class="testi-nav">
              1 {{ 'TESTIMONICAL.NAV-SPAN' | translate }} 3
              <div class="testi-arrows">

                <i class="fa fa-arrow-left"></i>
                <i class="fa fa-arrow-right"></i>
              </div>
            </div>
          </div>



        </div>

        <div class="testi-item">

          <img src="/assets/testimonical/68@2x.png" alt="" class="testi-img">

          <div class="testi-wrap">
            <h5 class="testi-name">Анастасия Ковальская2</h5>
            <p class="testi-address">Краков, Польша</p>

            <p class="testi-review">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <div class="testi-nav">
              2 {{ 'TESTIMONICAL.NAV-SPAN' | translate }} 3
              <div class="testi-arrows">

                <i class="fa fa-arrow-left"></i>
                <i class="fa fa-arrow-right"></i>
              </div>
            </div>
          </div>


        </div>

        <div class="testi-item">

          <img src="/assets/testimonical/68@2x.png" alt="" class="testi-img">

          <div class="testi-wrap">
            <h5 class="testi-name">Анастасия Ковальская 3</h5>
            <p class="testi-address">Краков, Польша</p>

            <p class="testi-review">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <div class="testi-nav">
              3 {{ 'TESTIMONICAL.NAV-SPAN' | translate }} 3
              <div class="testi-arrows">

                <i class="fa fa-arrow-left"></i>
                <i class="fa fa-arrow-right"></i>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>



  </div>
</div>
