

<div class="connect-section">

  <div class="container">


    <h1 class="connect-section-title">
      Как подключиться
    </h1>


    <div class="connect-block-wrap">


      <div class="connect-item">
        <div class="connect-item-number">01</div>


        <div class="connect-item-title">
          Обращение
          клиента
        </div>
        <div class="connect-item-description">
          Lorem ipsum dolor sit amet.
        </div>

      </div>
      <div class="connect-item">
        <div class="connect-item-number">01</div>


        <div class="connect-item-title">
          Обращение
          клиента
        </div>
        <div class="connect-item-description">
          Lorem ipsum dolor sit amet.
        </div>

      </div>
      <div class="connect-item">
        <div class="connect-item-number">01</div>


        <div class="connect-item-title">
          Обращение
          клиента
        </div>
        <div class="connect-item-description">
          Lorem ipsum dolor sit amet.
        </div>

      </div>
      <div class="connect-item">
        <div class="connect-item-number">01</div>


        <div class="connect-item-title">
          Обращение
          клиента
        </div>
        <div class="connect-item-description">
          Lorem ipsum dolor sit amet.
        </div>

      </div>

      <div class="connect-item">
        <div class="connect-item-number">01</div>


        <div class="connect-item-title">
          Обращение
          клиента
        </div>
        <div class="connect-item-description">
          Lorem ipsum dolor sit amet.
        </div>

      </div>
      <div class="connect-item">
        <div class="connect-item-number">01</div>


        <div class="connect-item-title">
          Обращение
          клиента
        </div>
        <div class="connect-item-description">
          Lorem ipsum dolor sit amet.
        </div>

      </div>
      <div class="connect-item">
        <div class="connect-item-number">01</div>


        <div class="connect-item-title">
          Обращение
          клиента
        </div>
        <div class="connect-item-description">
          Lorem ipsum dolor sit amet.
        </div>

      </div>
      <div class="connect-item">
        <div class="connect-item-number">01</div>


        <div class="connect-item-title">
          Обращение
          клиента
        </div>
        <div class="connect-item-description">
          Lorem ipsum dolor sit amet.
        </div>

      </div>
    </div>

    <a href="" class="connect-link-btn">
      Заказать консультацию
    </a>
  </div>
</div>