



<div class="pricing-section">



  <div class="container">


    <h5 class="section-header">
      Стоимость
    </h5>


    <div class="flex-wrap">

      <div class="pricing-tab">

        <div class="pricing-package-circle">

          <div class="centered">
            <span class="text-package">Пакет</span>
            <span class="bold-text-package">Minimal</span>
          </div>

        </div>


        <div class="duration">
          3 месяца
        </div>

        <div class="text">
          Подключение к сервису и его настройка
        </div>

        <div class="discount">
          + 5% скидка от общей стоимости пакета
        </div>

        <div class="price">
          €45
        </div>

        <a href="" class="package-link">Заказать</a>
      </div>

      <div class="pricing-tab">

        <div class="pricing-package-circle">

          <div class="centered">
            <span class="text-package">Пакет</span>
            <span class="bold-text-package">Standard</span>
          </div>

        </div>


        <div class="duration">
          6 месяца
        </div>

        <div class="text">
          Подключение к сервису и его настройка
        </div>

        <div class="discount">
          + 5% скидка от общей стоимости пакета
        </div>

        <div class="price">
          €90
        </div>

        <a href="" class="package-link">Заказать</a>
      </div>

      <div class="pricing-tab">

        <div class="pricing-package-circle">

          <div class="centered">
            <span class="text-package">Пакет</span>
            <span class="bold-text-package">Optimal</span>
          </div>

        </div>


        <div class="duration">
          9 месяца
        </div>

        <div class="text">
          Подключение к сервису и его настройка
        </div>

        <div class="discount">
          + 5% скидка от общей стоимости пакета
        </div>

        <div class="price">
          €135
        </div>

        <a href="" class="package-link">Заказать</a>
      </div>

      <div class="premium">
        <span class="text-package">Пакет</span>
        <span class="bold-text-package">Premium</span>


        <div class="text">
          Подключение к сервису и его настройка
        </div>



        <div class="discount">
          + 10% скидка от общей стоимости пакета
        </div>

        <div class="text">
          + один бесплатный вызов экстренной службы
        </div>

        <div class="price">
          €180
        </div>

        <a href="" class="package-link">Заказать</a>
      </div>
    </div>


  </div>
</div>
