<div class="about-section">


  <div class="container">



    <div class="about-flex-wrap">
      <div class="about-item">
        <div class="about-item-block">

          <div class="about-item-header-block-header">
            <h2 class="about-item-title">

              <span class="item-count">01</span>
              <span>Круглосуточная поддержка</span>
            </h2>

            <p class="item-description item-description-01">Круглосуточный центр помощи “Пильнуй своїх” ориентирован на пожилых людей, людей с хроническими заболеваниями, у которых существует риск резкого ухудшения самочувствия вплоть до потери сознания, инвалидов, которые не могут самостоятельно оказать себе помощь, одиноких людей, которым важно ощущение помощи и поддержки в экстренной ситуации.</p>

          </div>
        </div>

        <div class="about-img-wrap ">

          <div class="about-img-01">

          </div>
        </div>

        <p class="mobile-text">
          Круглосуточный центр помощи “Пильнуй своїх” ориентирован на пожилых людей, людей с хроническими заболеваниями, у которых существует риск резкого ухудшения самочувствия вплоть до потери сознания, инвалидов, которые не могут самостоятельно оказать себе помощь, одиноких людей, которым важно ощущение помощи и поддержки в экстренной ситуации.
        </p>



      </div>

      <div class="about-item about-item-2">

        <div class="about-img-wrap">
          <div class="about-img-02"></div>
        </div>
        <div class="about-item-block">

          <div class="about-item-header-block-header">
            <h2 class="about-item-title">

              <span class="item-count">02</span>
              <span>GPS Трекинг</span>
            </h2>

            <p class="item-description item-description-02">
              Кроме того, сервис просто необходим людям, страдающим старческим слабоумием или деменцией, так как позволяет оперативно и с высокой точностью определять местоположение потерявшегося человека при помощи
              технологии GPS.            </p>

          </div>


        </div>
        <p class="mobile-text" style="order: 2;">
          Кроме того, сервис просто необходим людям, страдающим старческим слабоумием или деменцией, так как позволяет оперативно и с высокой точностью определять местоположение потерявшегося человека при помощи
          технологии GPS.
        </p>



      </div>


      <div class="about-item">


        <div class="about-item-block">

          <div class="about-item-header-block-header">
            <h2 class="about-item-title">

              <span class="item-count">03</span>
              <span>Кнопка помощи</span>
            </h2>

            <p class="item-description item-description-03">Основополагающей технологией оказания подобной услуги является задействование кнопки помощи, которая позволяет мониторить состояние человека, отслеживает его местоположение, а также при ее активации обеспечивает мгновенную
              связь с центром поддержки.</p>

            <a href="" class="consultation-link-btn descktop-link">

              <span class="consultation-link-text">Заказать консультацию</span>
            </a>

          </div>
        </div>

        <div class="about-img-wrap">

          <div class="about-img-03"></div>
        </div>
        <p class="mobile-text">
          Основополагающей технологией оказания подобной услуги является задействование кнопки помощи, которая позволяет мониторить состояние человека, отслеживает его местоположение, а также при ее активации обеспечивает мгновенную
          связь с центром поддержки.
        </p>


      </div>

      <a href="" class="consultation-link-btn mobile-link">

        <span class="consultation-link-text">Заказать консультацию</span>
      </a>


    </div>

  </div>
</div>
