

<div class="home-section">
  <div class="bg-gradient">
    <div class="container">
      <div class="home-hotline-wrap">
        <h3 class="sidebar-hotline-sign">

          <span class="sidebar-hotline-text">{{ 'HOTLINE.TITLE' | translate }}</span>

          <span class="call-us">+38 044 511 49 59</span>
        </h3>

      </div>


      <div class="home-block-wrap">
        <h1 class="home-title">
        <span class="home-title-regular">Служба  моментального реагирования
        на сигнал</span><br>
          <span class="home-title-colored">о помощи 24/7</span>
        </h1>


        <a href="" class="home-link-btn">

          <span>
            Подробнее
          </span>
          <span class="arrow-down">
            <span class="arrow-img"></span>
          </span>


        </a>
      </div>
    </div>
  </div>



</div>
